<div id="profile-form">
  <%= form_for current_user, :as => 'user', :url => profile_path(current_user), :html => {role: 'form', class: "nifty_form"} do |f| %>

    <div id="user-info">
      <label>Name:</labe>
      <%= f.text_field :name %>
    </div>

    <div id="profile-relationship" class="field-wrapper">
      Steve joined my life story in <%= f.select :met_when, (Date.new(1948).year)..(Date.today.year), :selected => (Date.new(f.object.met_when.to_i).year) %> when <%= f.text_area :met_how, :size => "60x3", :placeholder => "Steve and I worked together in Seattle" %>
    </div>

    <label>Current Hometown:</label> <%= f.text_field :location, :placeholder => "Atlanta, GA" %>
    <%= f.submit 'Update your Profile', :class => 'btn btn-primary' %>
  <% end -%>
</div>
