
<%= form_for @post, url: {controller: "posts", action: post_action}, html: {class: "post-form nifty_form"} do |f| %>
  <label class="modal-close" for="modal-2"></label>
  <label>Thanks to you, Steve, <%= f.text_field :title, :placeholder => "my life has been forever changed." %></label>
  <label><%= f.text_area(:body, :size => "60x10", :placeholder => "Tell more about how Steve has been a part of your life story.") %></label>

    <% if f.object.image_url %>
      <%= image_tag(f.object.image_url(:faces_thumb), :class => 'post-image') %>
      <label>Replace Image</label>
    <% else %>
      <label>Add an Image</label>

    <% end %>
    <div class="help">Add a photo of Steve, of you, or of something that relates to your note above.</div>
    <div class="form_line">
      <div class="form_controls">
        <span class="status"></span>
        <div class="form_line">
          <div class="form_controls">
            <div class="preview"></div>
          </div>
        </div>
        <div class="upload_button_holder">
          <% if @unsigned %>
            <%= f.cl_unsigned_image_upload(:image, @preset_name) %>
          <% else %>
            <%= f.cl_image_upload(:image, :return_delete_token=>true) %>
          <% end %>
        </div>
      </div>
    </div>



  <!-- <a href="#" class="btn">Add a video</a> -->
  <hr/>

  <% if f.object.id? %>
    <%= f.submit "Update Your Thanks" %>
    <%= link_to "Cancel", root_path %>
  <% else %>
    <%= f.submit "Add Your Thanks" %>
  <% end %>

<% end %>

<% content_for :javascript do %>
  <%= cloudinary_js_config %>
<% end %>
