<article class="post <%= " with-image" if post.image.present? %>">
  <% if post.image.present? %>
    <div class="post-image">
      <%= image_tag(post.image_url(:vert), :class => "post-image-#{post.img_ratio}") %>
    </div>
  <% end %>
  <div class="post-wrapper">
    <div class="post-body">
      <h3>&hellip;<%= post.title %></h3>

      <%= simple_format post.body %>

      <div class="post-link">
        <% if post.user == current_user -%>
          <%= link_to("Edit Post", edit_post_path(post.id)) %>
        <% end -%>
      </div>
    </div>
    <footer>
      <div class="author-image">
        <%= image_tag(post.user.image) %>
      </div>
      <div class="author-info">
        <div class="name"><%= post.user.name %></div>
        <% if post.user.met_when? && post.user.met_how? %>
          <div class="meta">
            <label>Steve joined my life story in </label>
            <span class="meta-year"><%= post.user.met_when %></span> when <%= post.user.met_how %>
          </div>
        <% elsif post.user == current_user %>
          <div class="meta">
            <%= link_to("Add how Steve joined your life story", profile_path) %>
          </div>
        <% end %>

        <div class="date-location">
          Posted on <%= post.created_at.strftime('%b. %e, %Y') %>
          <% if post.user.location? %>
            in <span class="location"><i class="fa fa-map-marker"></i> <%= post.user.location %></span>
          <% elsif post.user == current_user %>
            in <span class="location"><%= link_to("Add your Location", profile_path) %></span>
          <% end %>
        </div>
      </div>
    </footer>
  </div>
</article>
