<article class="post">
  <% if post.image.url %>
    <%= image_tag(post.image_url(:faces), :class => 'post-image') %>
  <% end %>
  <header>
    <h3>...<%= post.title %></h3>
    <div class="date"><%= post.created_at.strftime('%B %e, %Y') %> &bull; <%= post.created_at.strftime('%l:%M %P') %>
      <% if post.user == current_user -%>
        &bull; <%= link_to("Edit Post", edit_post_path(post.id)) %>
      <% end -%>
    </div>
  </header>
  <div class="post-body">
    <%= simple_format post.body %>
  </div>
  <footer>
    <div class="author">
      <%= image_tag(post.user.image) %>
      <div class="author-info">
        <div class="name"><%= post.user.name %></div>
        <% if post.user.met_when? && post.user.met_how? %>
          <div class="meta">Steve joined my life story in <%= post.user.met_when %> when <%= post.user.met_how %></div>
        <% elsif post.user == current_user %>
          <div class="meta"><%= link_to("Add how Steve joined your life story", profile_path) %></div>
        <% end %>

        <% if post.user.location? %>
          <div class="location"><%= post.user.location %></div>
        <% elsif post.user == current_user %>
          <div class="location"><%= link_to("Add your Location", profile_path) %></div>
        <% end %>
      </div>
    </div>
  </footer>
</article>
